.dropdown-menu button:first-child {
  max-width: 400px;
  width: 100%;

  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;

  cursor: pointer;
}

.dropdown-form {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  border-radius: 0 0 20px 20px;
}

.education-form,
.experience-form {
  animation: fade-in 0.2s ease-out;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.hidden {
  display: none !important;
}

.plain-corners {
  border-radius: 20px 20px 0 0 !important;
}

.options,
.options-exp {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0 0 20px 20px;
}

.options li,
.select-edu,
.select-exp {
  border-radius: 20px;
  font-size: 1.2rem;
}

.select-edu,
.select-exp {
  background-color: #f3f4f6 !important;
}

.options li,
.options-exp li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete-edu,
.delete-exp {
  border-radius: 50%;
  --size: 40px;
  width: var(--size);
  height: calc(var(--size) - 5px);

  border: 2px solid red;
  background-color: red;
  color: #f3f4f6;

  cursor: pointer;
}

@keyframes fade-in {
  from {
    transform: translateY(-30px);
    opacity: 0;
    background-color: #f3f4f6;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    background-color: #fff;
  }
}
