.dropdown-menu button:first-child {
  max-width: 400px;
  width: 100%;

  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;

  cursor: pointer;
}

.dropdown-form {
  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  border-radius: 0 0 20px 20px;
}

.education-form, .experience-form {
  animation: fade-in 0.2s ease-out;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.hidden {
  display: none;
}

.plain-corners {
  border-radius: 20px 20px 0 0!important;
}


@keyframes fade-in {
  from {
    transform: translateY(-30px);
    opacity: 0;
    background-color: #f3f4f6;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    background-color: #fff;
  }
}