.experience-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.date-form {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.experience-form textarea {
  min-height: 100px;
  max-width: 400px;
}