form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
}

input {
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: #e5e7eb;

  font-family: inherit;
  font-size: inherit;
}

input:focus {
  outline: 2px solid #3f87ec;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.date-form {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

textarea {
  min-height: 200px;
  max-width: 400px;
}